.icon {
  display: inline-block;
  width: 20px;
  padding: 5px 10px 0;
  transition: $transition;
  filter: invert(67%) sepia(0%) saturate(1%) hue-rotate(176deg) brightness(90%)
    contrast(85%);
}

.icon-light {
  filter: invert(99%) sepia(27%) saturate(2%) hue-rotate(9deg) brightness(113%) contrast(100%);
}